.title {
  position: absolute;
  top: 10vh;
  right: 10vw;
  z-index: 1;
  text-shadow: 0 0 5px #f6f0fe, 0 0 10px #dfabca;
  opacity: 0.5;
  transition: opacity 1s ease;
}

.title span {
  transition: all 1.5s ease;
}

.title span.highlight {
  transition: none;
  text-shadow: 0 0 5px var(#f6f0fe), 0 0 10px #dfabca, -5px 5px 5px var(--col4s),
    -5px 5px 10px var(--col4s), 1px -1px 2px var(--col1),
    1px -1px 2px var(--col1), 1px -1px 5px var(--col1), 0 0 40px var(--col1),
    0 0 40px var(--col1), 0 0 60px var(--col1);
  filter: brightness(1.5);
}
