.title {
  position: absolute;
  top: 10vh;
  right: 10vw;
  z-index: 1;
  text-shadow: 0 0 5px #f6f0fe, 0 0 10px #dfabca;
  opacity: 0.5;
  transition: opacity 1s ease;
  pointer-events: none;
}

.title span {
  transition: all 1.5s ease;
}

.name {
  opacity: 0;
  font-size: 5vw;
  animation-name: slideDown;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.subtitle {
  opacity: 0;
  font-size: 3.5vw;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-20vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
