@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overscroll-behavior: none;
}

span.highlight {
  transition: none;
  text-shadow: 0 0 5px #f6f0fe, 0 0 10px #dfabca, -5px 5px 5px #593a82,
    -5px 5px 10px #593a82, 1px -1px 2px #fdf5f8, 1px -1px 2px #fdf5f8,
    1px -1px 5px #fdf5f8, 0 0 40px #fdf5f8, 0 0 40px #fdf5f8, 0 0 60px #fdf5f8;
  filter: brightness(1.5);
}
